@import url('https://fonst.googleapis/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* Definición de variables de color para el tema oscuro */
:root.dark-theme-variables {
    --color-primary: #578de0; /* Gris azulado para elementos primarios */
    --color-danger: #FF4B5C; /* Rojo para elementos de peligro */
    --color-success: #4CAF50; /* Verde para elementos de éxito */
    --color-warning: #997300; /* Amarillo para advertencias */
    --color-white: #9f9d9d; /* Gris claro para texto sobre fondo oscuro */
    --color-info-dark: #607D8B; /* Gris azulado oscuro para información */
    --color-info-light: #B0BEC5; /* Gris azulado claro para información */
    --color-dark: #3c3c3c; /* Gris muy oscuro para fondos */
    --color-dark-variant: #212121; /* Gris oscuro para variantes de fondo */
    --color-light: rgba(35, 28, 28, 0.1); /* Blanco transparente para elementos ligeros */
    --color-background: #212121; /* Gris casi negro para el fondo principal */
    --blue: #3c3c3c; /* Azul para elementos destacados */
    --white: #212121; /* Gris claro para texto sobre fondo oscuro */
    --gray: #757575; /* Gris medio para elementos neutros */
    --black1: #212121; /* Gris muy oscuro para fondos */
    --black2: #424242; /* Gris oscuro para variantes de fondo */
}

/* Aplicación de las variables de color al tema oscuro */
.dark-theme-variables .top {
    color: var(--color-white);
}
/* Aplicación de las variables de color al tema oscuro */
.dark-theme-variables .navigation {
    background: var(--color-dark);
    border-left: 10px solid var(--color-dark-variant);
}

.dark-theme-variables .navigation ul li:hover,
.dark-theme-variables .navigation ul li.hovered {
    background-color: var(--color-dark-variant);
}

.dark-theme-variables .navigation ul li a {
    color: var(--color-white);
}

.dark-theme-variables .navigation ul li:hover a,
.dark-theme-variables .navigation ul li.hovered a {
    color: var(--color-primary);
}

.dark-theme-variables .main {
    background: var(--color-background);
    

}
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    height: 100vh;
    font-family: poppins, sans-serif;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: var(--color-background);
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
/* Estilos para los enlaces */
a {
    color: var(--color-dark);
}

/* Estilos para las imágenes */
img {
    display: block;
    width: 100%;
}


/* Estilos para los títulos */
h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

/* Estilos para texto pequeño */
small {
    font-size: 0.75rem;
}

/* Estilos para las fotos de perfil */
.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Estilos para texto tenue */
.text-muted {
    color: var();
}

/* Estilos para colores específicos */
.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/*============================= Style Navegacion xd =========================*/
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
    
}
.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0;
}
/*========== Efecto para la navegacion =========*/
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
}
/*==============================================*/
.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*============== borde cursivo ====================*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}


/*==================== MAIN ==============*/
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    margin-top: 1.4rem;
}
.main .active {
    width: calc(100% - 80px);
    left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
    top: 30px;
}
.search label {
    position: relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}
.search label ion-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
}
