.content, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #003DA4;
    --secondary: #1A3668;
    --success: #0074d9;
    --info: #969da2;
    --warning: #ffc107;
    --danger: #db192e;
    --light: #f8f9fa;
    --dark: #343a40;
    --dark-gray: #404041;
    --light-gray: #949CA1;
    --rm-gray: #7E868C;
    --grey-400: #7F7E7E;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.sticky {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;  /* Asegura que el elemento mantenga su ancho original */
}
@media (min-width: 992px) {
    .sticky {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
    margin-top: -30px;
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.text-center {
    text-align: center !important;
}
.col-12 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.ml-3, .mx-3 {
    margin-right: 98% !important;
    
}
a {
    color: #003da4;
    text-decoration: none;
    background-color: transparent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.w-50 {
    width: 30% !important;
}
.w-50 {
    width: 30% !important;
}
.ml-3, .mx-3 {
    margin-right: 98% !important;
}

.w-50 {
    width: 30% !important;
}
.d-block {
    display: block !important;
}
img {
    vertical-align: middle;
    border-style: none;
}

.w-25 {
    width: 20% !important;
}
.w-25 {
    width: 20% !important;
}
.ml-3, .mx-3 {
    margin-right: 98% !important;
}
.w-25 {
    width: 25% !important;
}
.d-none {
    display: none !important;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.flyerTopBtn {
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    padding: 0 5px;
}
@media screen and (max-width: 767px) {
    .flyerTopBtn img {
        width: 30px;
    }
}

.flyerTopBtn img {
    width: 40px;
}
.float-right {
    float: right !important;
}
.selectable {
    cursor: pointer;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.mt-3, .my-3 {
    margin-top: 3rem !important;
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}

.d-flex {
    display: flex !important;
}
element.style {
    position: relative;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
@media screen and (max-width: 767px) {
    .propImage {
        max-height: 250px;
    }
}

.propImage {
    max-height: 500px;
}
.p-1 {
    padding: .25rem !important;
}

element.style {
    width: 100%;
    position: relative;
    height: 100%;
    object-fit: cover;
}
img {
    vertical-align: middle;
    border-style: none;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}
@media screen and (max-width: 767px) {
    .propImage {
        max-height: 250px;
    }
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

element.style {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 235px;
}
@media screen and (max-width: 991px) {
    #masFotos {
        width: unset !important;
        font-size: 14px;
    }
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.text-white {
    color: #fff !important;
}
.d-none {
    display: none !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #003da4;
    border-color: #003da4;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
user agent stylesheet
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.w-100 {
    width: 100% !important;
}

.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.bg-primary {
    background-color: #003da4 !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
element.style {
    font-size: 20px;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}
.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
div {
    display: block;
    unicode-bidi: isolate;
}
element.style {
    border-right: 1px solid white !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    font-size: 20px;
}
element.style {
    border-right: 1px solid white !important;
}
.pr-3, .px-3 {
    padding-right: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
.d-none {
    display: none !important;
}
.pt-1, .py-1 {
    padding-top: .25rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}

.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.text-white {
    color: #fff !important;
}
.m-0 {
    margin: 0 !important;
}

.pb-1, .py-1 {
    padding-bottom: .25rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.pt-1, .py-1 {
    padding-top: .25rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}

.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.text-white {
    color: #fff !important;
}
.m-0 {
    margin: 0 !important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem !important;
}
.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
.pt-1, .py-1 {
    padding-top: .25rem !important;
}

.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.text-white {
    color: #fff !important;
}

.m-0 {
    margin: 0 !important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem !important;
}

.ml-2, .mx-2 {
    margin-left: .5rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.ml-5, .mx-5 {
    margin-left: 3rem !important;
}
.d-none {
    display: none !important;
}
element.style {
    padding: 1px 20px;
    width: 250px;
    border: 0.5px solid white !important;
    display: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #003da4;
    border-color: #003da4;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.text-center {
    text-align: center !important;
}
.d-block {
    display: block !important;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
element.style {
    border: 0.5px solid white !important;
    padding: 1px 20px;
    width: 250px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #003da4;
    border-color: #003da4;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.text-center {
    text-align: center !important;
}

.d-block {
    display: block !important;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}
element.style {
    padding: 1px 20px;
    width: 250px;
    border: 0.5px solid white !important;
    display: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.text-white {
    color: #fff !important;
}
.text-center {
    text-align: center !important;
}
.rounded-pill {
    border-radius: 50rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #003da4;
    border-color: #003da4;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
element.style {
    display: none;
}
.fade:not(.show) {
    opacity: 0;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
element.style {
    margin: 0px;
    max-width: unset !important;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
element.style {
    background: #000;
    height: 100vh;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
element.style {
    background: #000;
    color: white;
    border-bottom-color: #000;
    display: block;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
element.style {
    color: white;
    opacity: 1;
    font-size: 30px;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
@media (max-width: 1200px) {
    .close {
        font-size: calc(1.275rem + .3vw);
    }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
style attribute {
    background: #000;
    color: white;
    border-bottom-color: #000;
    display: block;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}
style attribute {
    color: white;
    opacity: 1;
    font-size: 30px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
@media (max-width: 1200px) {
    .close {
        font-size: calc(1.275rem + .3vw);
    }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
user agent stylesheet
button {
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}
style attribute {
    background: #000;
    color: white;
    border-bottom-color: #000;
    display: block;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.h4, h4 {
    font-size: 1.8rem;
}
@media (max-width: 1200px) {
    .h4, h4 {
        font-size: calc(1.305rem + .66vw);
    }
}
.h4, h4 {
    font-size: 1.8rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
style attribute {
    background: #000;
    color: white;
    border-bottom-color: #000;
    display: block;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
.h4, h4 {
    font-size: 1.8rem;
}
@media (max-width: 1200px) {
    .h4, h4 {
        font-size: calc(1.305rem + .66vw);
    }
}
.h4, h4 {
    font-size: 1.8rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
user agent stylesheet
h4 {
    font-weight: bold;
}
style attribute {
    background: #000;
    color: white;
    border-bottom-color: #000;
    display: block;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
section#property-slider {
    width: 98% !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
table {
    border-collapse: collapse;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}
element.style {
    margin-right: 10px;
    background: red;
    background: #000;
    overflow-x: hidden;
}
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .ocultafotos {
        display: none;
    }
}
.d-none {
    display: none !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}
.sliderThumbsContainer {
    margin-top: 2px !important;
    height: 75vh;
    overflow: auto;
    white-space: nowrap !important;
}
.firstThumb {
    margin-left: 10px !important;
}
.sliderThumbContainer {
    margin-right: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 10px;
    transition: all .3s cubic-bezier(0,1.06,1,.97);
    overflow-x: hidden !important;
    margin-left: 10px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    direction: rtl !important;
    width: 55px;
    height: 55px;
}
.sliderThumbContainer {
    border: 2px solid #fff;
}
.selectedThumb {
    transform: scale(1.3, 1.3);
    background-color: #fff;
}

.sliderThumbContainer {
    margin-right: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 10px;
    transition: all .3s cubic-bezier(0,1.06,1,.97);
    overflow-x: hidden !important;
    margin-left: 10px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    direction: rtl !important;
    width: 55px;
    height: 55px;
}
td.fotos {
    text-align: center;
    border: 0 solid #e6e6e6;
    border-radius: 10px;
    padding-left: 0 !important;
    padding-right: 10px !important;
    border-radius: 0;
}
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
    div#sliderImagen {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100% !important;
        height: 350px !important;
    }
}
element.style {
    background: rgba(255, 255, 255, 0);
}
.arrowLeft {
    position: absolute;
    top: 45%;
    left: 15rem;
    display: block;
    padding-right: 18px;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 27px;
}
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .arrowLeft, .arrowRight {
        top: 40%;
    }
}
.sliderArrowIcon {
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.arrowRight {
    position: absolute;
    top: 45%;
    right: 20px;
    display: block;
    padding-right: 15px;
    padding-left: 18px;
    cursor: pointer;
    border-radius: 27px;
}

@media screen and (min-device-width: 0px) and (max-device-width: 480px) {
    .arrowLeft, .arrowRight {
        top: 40%;
    }
}
.sliderArrowIcon {
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}
i {
    font-style: italic;
}

element.style {
    border: 1px solid #ce0000 !important;
    background-color: rgba(216, 0, 0, 0.91) !important;
    padding: 8px 12px;
    line-height: 1;
    border-radius: 6px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-danger {
    color: #fff;
    background-color: #db192e;
    border-color: #db192e;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.fade:not(.show) {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
@media (max-width: 1200px) {
    .close {
        font-size: calc(1.275rem + .3vw);
    }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
button {
    appearance: auto;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
element.style {
    height: 40vw;
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.w-100 {
    width: 100% !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.fade:not(.show) {
    opacity: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
@media (max-width: 1200px) {
    .close {
        font-size: calc(1.275rem + .3vw);
    }
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}
.fade:not(.show) {
    opacity: 0;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.h4, h4 {
    font-size: 1.8rem;
}

@media (max-width: 1200px) {
    .h4, h4 {
        font-size: calc(1.305rem + .66vw);
    }
}
.h4, h4 {
    font-size: 1.8rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
style attribute {
    text-align: -webkit-center;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
element.style {
    width: 250px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #003da4;
    border-color: #003da4;
}
a {
    color: #003da4;
    text-decoration: none;
    background-color: transparent;
}