footer a {
    text-decoration: none !important;
  }
  footer {
    background-color: #000;
  }
  footer .container .row .col-12 {
    color: #fff;
  }
  footer .container .row .col-12.text-center a {
    text-decoration: none;
    color: #fff;
  }
  footer .container .row .col-12 .redes a {
    color: #fff;
    text-decoration: none;
  }
.animate-footer {
  position: relative;
  animation: animatefooter 2s;
}

@keyframes animatefooter {
  0% { transform: rotateX(-90deg) scale(0.1); opacity: 0; }
  50% { transform: rotateX(0deg) scale(1.2); opacity: 1; }
  100% { transform: rotateX(0deg) scale(1); opacity: 1; }
}  