footer a {
    text-decoration: none !important;
  }
  footer {
    background-color: #000;
  }
  footer .container .row .col-12 {
    color: #fff;
  }
  footer .container .row .col-12.text-center a {
    text-decoration: none;
    color: #fff;
  }
  footer .container .row .col-12 .redes a {
    color: #fff;
    text-decoration: none;
  }